---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import ProjectCard from '@/components/home/ProjectCard.astro'

const headings = [
  { depth: 2, slug: 'opensource', text: 'OpenSource' },
    { depth: 2, slug: 'website', text: 'Website' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/SunXin121'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>


  <h2 id='opensource'>OpenSource</h2>
  <br />
  <ProjectSection
    projects={[
      {
        name: 'ðŸŒ… Bing Wallpaper',
        description:
          'åŸºäºŽ Cloudflare Workers è‡ªå»º Bing éšæœºå£çº¸ API',
        links: [
          { type: 'github', href: 'https://github.com/SunXin121/bing_wallpaper' }
        ]
      },
      {
        name: 'ðŸ§  Pot-APP Qwen OCR æ’ä»¶',
        description: 'åŸºäºŽé˜¿é‡Œäº‘é€šä¹‰åƒé—®ï¼ˆQwenï¼‰AI çš„ OCR æ–‡å­—è¯†åˆ« Pot æ’ä»¶',
        links: [
          { type: 'github', href: 'https://github.com/SunXin121/pot-app-recognize-plugin-qwen-ocr' },
          { type: 'release', href: 'https://github.com/SunXin121/pot-app-recognize-plugin-qwen-ocr/releases' }
        ]
      }
    ]}
  />

  <h2 id='website'>Website</h2>
  <br />
  <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://api.csun.site/'
            heading='SUN API'
            subheading='ä½Žä»·é«˜æ€§èƒ½çš„å¤§æ¨¡åž‹ API ä¸­è½¬æœåŠ¡'
            imagePath='/src/assets/projects/sunapi.png'
          />
          <ProjectCard
            href='https://camlife.csun.site/'
            heading='CamLife'
            subheading='ç…§ç‰‡å±•ç¤ºç½‘ç«™'
            imagePath='/src/assets/projects/camlife.png'
          />
    </div>
</PageLayout>
